# This workflow will install Python dependencies, run tests, and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.11.14

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install huggingface_hub[cli]
        
    - name: Login to Hugging Face
      run: |
        python -c "from huggingface_hub import login; login(token='${{ secrets.HF_TOKEN }}')"
      env:
        HF_TOKEN: ${{ secrets.HF_TOKEN }}